{% include 'relatorio_base.html' %}
{% load static %}
{% load sass_tags %}

<html>
<body>
<header class="header">
		<section class="titulo-e-logo flex-between">
      <img src="{% static 'images/LOGO_FUNDO_CLARO.png' %}" alt="" />
			<h1 class="titulo">SECRETARIA MUNICIPAL DE EDUCAÇÃO | COORDENADORIA DE ALIMENTAÇÃO ESCOLAR - CODAE</h1>
    </section>
    <section>
      <h2 class="subtitulo">FICHA DE RECEBIMENTO</h2>
    </section>
    <div class="info mt-2 border border-dark">
			<div class="row">
				<div class="col pt-2 pb-2 grow-2"> CRONOGRAMA: </div>
				<div class="col pt-2 pb-2 grow-2"> Nº DO CONTRATO: </div>
        <div class="col pt-2 pb-2 grow-2"> Nº DA ATA/CHAMADA PÚBLICA: </div>
			</div>
			<div class="row green-important-text">
				<div class="col pb-2 grow-2"> {{cronograma.numero}} </div>
				<div class="col pb-2 grow-2"> {{cronograma.contrato.numero}} </div>
        		<div class="col pb-2 grow-2"> {{cronograma.contrato.ata}} </div>
			</div>
		</div>
	</header>
</body>
</html>
