{% include 'relatorio_base.html' %} {% load static %} {% load index %} {% load sass_tags %}
<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/recebimento/cabecalho.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/recebimento/relatorio_ficha_recebimento.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/custom_bootstrap.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/logistica/barra_status.scss' %}" type="text/css">
</head>
<body>
  {% include "recebimento/cabecalho.html" %}
  {% include "recebimento/dados_ficha.html" %}
  {% include "logistica/guia_remessa/rodape.html" %}
</body>
</html>
