<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
  {% if title %}
    <title>{{ title }}</title>
  {% else %}
    <title>Relatório</title>
  {% endif %}
  <link rel="stylesheet" href="https://hom-sigpae.sme.prefeitura.sp.gov.br/django_static/css/relatorio_base.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' integrity="sha384-sp1nbtUugEN8qnLjb0qz8572YjuSrulVp3N7Y4tWyB93UwlZVww+ppKyNQiXYycH" crossorigin="anonymous">
  {% block css %}{% endblock css %}
</head>
</html>
