{% extends 'email_base.html' %}

{% block conteudo %}
    <p style="margin-bottom: 16px;">Olá!</p>
    <p style="margin-bottom: 56px;">
        O Fornecedor <strong>{{ nome_usual }} - {{ razao_social }}</strong> solicitou alterações no Cronograma nº <strong>{{ solicitacao }}</strong> de <strong>{{ nome_produto }}</strong> em {{log_transicao.criado_em|date:"d/m/Y"}}.
    </p>
    <u>
        <a href="{{ url }}">
            Clique aqui para acessar os detalhes da Solicitação de Alteração
        </a>
    </u>
{% endblock %}
