{% extends 'email_base.html' %}
{% load email_templatetags %}

{% block conteudo%}
<p style="margin-bottom: 16px;">Olá!</p>
<p style="text-align: center; margin-bottom: 56px;">
  A <strong>CODAE</strong> {{ status_analise|lower }} a Solicitação de Alteração do Cronograma nº <strong>{{ numero_cronograma }}</strong> de <strong>{{ nome_produto }}</strong>
  da <strong>{{nome_fantasia}} - {{razao_social}}</strong> em {{ log_transicao.criado_em|date:"d/m/Y" }}:
</p>

<a href="{{ url_solicitacao_alteracao }}">Clique aqui para acessar os detalhes da Solicitação de Alteração</a>

{% endblock %}
