{% extends 'email_base.html' %}
{% load email_templatetags %}

{% block conteudo%}
<p style="text-align: left">
  Olá!

  <br/><br/>

  A <strong>CODAE</strong> assinou o cronograma n° <strong>{{ numero_cronograma }}</strong> de <strong>{{ nome_produto }}</strong> em {{ data_assinatura|date:"d/m/y" }}, do fornecedor <strong>{{ nome_usual_fornecedor }} - {{ razao_social_fornecedor }}</strong>.
</p>

<br/><br/>

<a href="{{ url_cronograma }}">Clique aqui para acessar o cronograma</a>

{% endblock %}
