{% extends 'email_base.html' %}
{% load email_templatetags %}
{% load safe_html_tags %}

{% block style_override %}
<style>
  .titulo {
    color: #e21017;
  }
</style>
{% endblock %}

{% block conteudo %}
  <p>Produto {{ produto.nome }} - {{ produto.marca }} teve sua homologação recusada em {{ log_transicao.criado_em }}.</p>
  <p><b>Justificativa: </b></p>
  {{ log_transicao.justificativa|safe_content }}
  <p><a href="{{ link_pdf }}">Clique para acessar detalhes do cadastro</a></p>
  <br/>
{% endblock %}
