<!DOCTYPE html>
<html lang="pt-BR">
  {% load static %} {% load sass_tags %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>
      NOTIFICAÇÃO PARA REPOSIÇÃO DE UTENSÍLIOS DE MESA, MOBILIÁRIOS E EQUIPAMENTOS
    </title>
    <link
      rel="stylesheet"
      href="{% sass_src 'css/IMR/relatorio_notificacao/quantidade_qualidade.scss' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% sass_src 'css/custom_bootstrap.scss' %}"
      type="text/css"
    />
  </head>
  <body>
    <header>
      <div class="toolbar">
        <div class="logo-prefeitura">
          <img
            src="{% static 'images/logo-color.svg' %}"
            alt="Cidade de São Paulo Educação"
          />
        </div>
        <div class="titulos">
          <h4 class="title">
            SECRETARIA MUNICIPAL DE EDUCAÇÃO | COORDENADORIA DE ALIMENTAÇÃO ESCOLAR
          </h4>
          <h6 class="subtitle">
            NOTIFICAÇÃO PARA REPOSIÇÃO DE UTENSÍLIOS DE MESA, MOBILIÁRIOS E EQUIPAMENTOS
          </h6>
        </div>
      </div>
      <section class="informacoes">
        <div class="linha-informacao">
          <div class="informacao-principal">
            <span>Solicitante:</span>
            <strong>{{dados.usuario.nome}}</strong>
          </div>
          <div class="informacao-secundaria">
            <span>Data da visita:</span>
            <strong>{{dados.data_visita}}</strong>
          </div>
        </div>
        <div class="linha-informacao">
          <div class="informacao-principal">
            <span>Unidade:</span>
            <strong>{{dados.unidade}}</strong>
          </div>
          <div class="informacao-secundaria">
            <span>DRE:</span>
            <strong>{{dados.diretoria_regional}}</strong>
          </div>
        </div>
        <div class="linha-informacao">
          <div class="informacao-principal">
            <span>Empresa:</span>
            <strong>{{dados.terceirizada}}</strong>
          </div>
          <div class="informacao-secundaria">
            <span>Lote:</span>
            <strong>{{dados.lote}}</strong>
          </div>
        </div>
        <div class="linha-informacao">
          <div class="informacao-principal">
            <span>Referência:</span>
            <strong>{{dados.edital}}</strong>
          </div>
        </div>
        <div class="linha-informacao">
          <div class="informacao-matriculados">
            <span>Nº de matriculados:</span>
            <strong>{{dados.total_matriculados_por_data}}</strong>
          </div>
          <div class="informacao-frequentes">
            <span>Maior nº de frequentes no período:</span>
            <strong>{{dados.maior_frequencia_no_periodo}}</strong>
          </div>
        </div>
      </section>
    </header>
    <footer>
      <div class="assinatura-supervisora">
        <p>Assinatura Nutricionista Supervisora CODAE</p>
        <div class="registro-assinatura">
          <img
            src="{% static 'images/Logo_SIGPAE_pb.png' %}"
            alt="Logo do SIGPAE"
          />
          <p>
            Documento gerado e registrado eletronicamente por {{dados.usuario.nome}},
            RF: {{dados.usuario.registro_funcional.0}}****{{dados.usuario.registro_funcional.5}}{{dados.usuario.registro_funcional.6}},
            em {{dados.data_geracao}}.
          </p>
        </div>
      </div>
      <div class="barra-informacoes">
        <p class="paginador"></p>
        <p class="gerado-em">
          Documento gerado eletronicamente em {{dados.data_geracao}}
        </p>
      </div>
    </footer>
    <main class="content">
      <section>
        <div class="content-top">
          <p>
            Solicitamos que sejam providenciados os utensílios, mobiliários e/ou
            equipamentos em quantidade abaixo relacionada, de modo a assegurar o
            adequado atendimento ao número de refeições servidas.
          </p>
          <p class="prazo-atendimento">
            A empresa deve atender a solicitação no prazo de até
            <u>TRÊS</u> dias úteis a partir da data protocolada.
          </p>
          <p>
            Solicitamos que, mediante a apresentação do presente documento pela
            Empresa, o representante da Unidade Educacional, avalie se as
            adequações descritas foram ou não realizadas, assinalando os campos
            "sim" ou "não" dos quadros abaixo:
          </p>
        </div>
        <table>
          <colgroup>
            <col class="coluna-tipo" />
            <col class="coluna-descricao" />
            <col class="coluna-boas-condicoes" />
            <col class="coluna-reposicao" />
            <col class="coluna-retirada" />
            <col class="coluna-sim" />
            <col class="coluna-nao-prazo" />
            <col class="coluna-nao-quantidade" />
          </colgroup>
          <thead>
            <tr>
              <th rowspan="2" scope="col">Tipo</th>
              <th rowspan="2" scope="col">Descrição do motivo da solicitação</th>
              <th rowspan="2" scope="col">
                Quantidade em boas condições para uso na unidade
              </th>
              <th rowspan="2" scope="col">Quantidade para reposição</th>
              <th rowspan="2" scope="col">Quantidade para retirada</th>
              <th colspan="3" scope="col">
                Reposição/Retirada até 3 dias úteis após a notificação
              </th>
            </tr>
            <tr>
              <th scope="col">SIM</th>
              <th scope="col">NÃO (fora do prazo)</th>
              <th scope="col">NÃO (qtde inadequada)</th>
            </tr>
          </thead>
          <tbody>
            {% for resposta in dados.respostas %}
            <tr>
              <td>{{resposta.0}}</td>
              <td>{{resposta.1}}</td>
              <td>{{resposta.2}}</td>
              <td>{{resposta.3}}</td>
              <td>{{resposta.4}}</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <p class="conferencia">
          Conferência pelo representante da U.E. se as adequações acima foram ou não realizadas:
        </p>
        <table class="assinaturas-conferencia">
          <tr>
            <th scope="row">
              <strong>Data da conferência:</strong>
              ______/______/______
            </th>
            <td>
              <span class="linha-para-assinatura"></span>
              Responsável pela U.E.
            </td>
          </tr>
          <tr>
            <th scope="row">
              <strong>Entrega da presente notificação à Empresa:</strong>
              ______/______/______
            </th>
            <td>
              <span class="linha-para-assinatura"></span>
              Assinatura Nutricionista RT da Empresa
            </td>
          </tr>
        </table>
      </section>
    </main>
  </body>
</html>
