<!doctype html>
{% load static %} {% load index %} {% load sass_tags %} {% load safe_html_tags
%}
<html lang="pt-BR">
  <head>
    <link
      rel="stylesheet"
      href="{% sass_src 'css/custom_bootstrap.scss' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% sass_src 'css/relatorio_ateste_financeiro.scss' %}"
      type="text/css"
    />
    <title>SIGPAE</title>
  </head>

  <body>
    <div class="data-geracao">
      Documento gerado em {{ cabecalho.data_geracao }} às {{
      cabecalho.hora_geracao }}
    </div>
    <div class="relatorio-financeiro">
      <div class="cabecalho-relatorio">
        <div class="topo">
          <div class="logo">
            <img src="{% static 'images/LOGO_FUNDO_CLARO.png' %}" alt="" />
          </div>

          <div class="titulos">
            <div class="linha-superior">
              SECRETARIA MUNICIPAL DE EDUCAÇÃO | COORDENADORIA DE ALIMENTAÇÃO
              ESCOLAR
            </div>

            <div class="titulo-principal">
              ATESTE FINANCEIRO - MEDIÇÃO INICIAL
            </div>
          </div>
        </div>

        <div class="info-box">
          <div class="linha">
            <div>
              REFERÊNCIA: <strong>{{ cabecalho.data_referencia }}</strong>
            </div>

            <div>
              DATA DO RELATÓRIO:
              <strong
                >{{ cabecalho.data_geracao }} - {{ cabecalho.hora_geracao
                }}</strong
              >
            </div>
          </div>

          <div class="linha">
            {{ cabecalho.dre_lote }}
            <strong>- {{ cabecalho.grupo_unidade_escolar }}</strong>
          </div>
        </div>
      </div>

      {% include "relatorio_financeiro/tabelas/tabela_alimentacao_cei.html" with
      linhas=alimentacao.linhas faixasEtarias=faixasEtarias ordem="A"
      total_atendimentos=alimentacao.total_atendimentos
      valor_total=alimentacao.valor_total %} {% include
      "relatorio_financeiro/tabelas/tabela_dieta_cei.html" with
      linhas=dieta_a.linhas faixasEtarias=faixasEtarias tipoDieta="TIPO A"
      tipo_class="cor-tipo-a" ordem="B" total_consumo=dieta_a.total_consumo
      valor_total=dieta_a.valor_total %} {% include
      "relatorio_financeiro/tabelas/tabela_dieta_cei.html" with
      linhas=dieta_b.linhas faixasEtarias=faixasEtarias tipoDieta="TIPO B"
      tipo_class="cor-tipo-b" ordem="C" total_consumo=dieta_b.total_consumo
      valor_total=dieta_b.valor_total %} {% include
      "relatorio_financeiro/tabelas/consolidado_total.html" with
      titulo='CONSOLIDADO TOTAL (A + B + C)' quantidade=consolidado.quantidade
      valor=consolidado.valor valor_extenso=consolidado.valor_extenso %}
    </div>
  </body>
</html>
