<!DOCTYPE html>
{% load index %} {% load static %} {% load sass_tags %} {% load safe_html_tags %}

<html lang="pt-BR">
  <head>
    <link
      rel="stylesheet"
      href="{% sass_src 'css/custom_bootstrap.scss' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% sass_src 'css/relatorio_solicitacao_medicao_por_escola.scss' %}"
      type="text/css"
    />
    <title>SIGPAE</title>
  </head>
  <body>
    {% if solicitacao.status == 'MEDICAO_APROVADA_PELA_CODAE' %}
    <div class="first-footer-approved mr-2">
      Aprovado por CODAE em {{
      solicitacao.log_mais_recente.criado_em|date:"d/m/Y - H:i" }} - {{
      solicitacao.log_mais_recente.usuario.nome }}
    </div>
    {% endif %}

    {% include "medicao/_header_medicao.html" with referencia=solicitacao.recreio_nas_ferias.titulo %}

    <div class="mx-4 my-5">
      <h1 class="text-center titulo-body-p1">INFORMAÇÕES BÁSICAS DA MEDIÇÃO</h1>
    </div>
    <div class="row p-0 mx-4 tipo-contagem">
      <div class="col-2"></div>
      <div class="col-4 label-contagem">
        Método de Contagem das Alimentações Servidas
      </div>
      <div class="col-4 value-contagem">{{tipos_contagem_alimentacao}}</div>
      <div class="col-2"></div>
    </div>
    <div class="row p-0 mx-4 mt-5 tipo-avaliacao">
      <div class="col-3 avaliacao-left">Avaliação do Serviço</div>
      <div class="col-6 avaliacao-center">
        Neste mês, a direção da Unidade Educacional considera que o serviço foi
        realizado a contento?
      </div>
      <div class="col-3 avaliacao-right">
        {% if solicitacao.com_ocorrencias %} Não, com ocorrências {% else %}
        Sim, sem ocorrências {% endif %}
      </div>
    </div>
    <div class="mt-5"></div>
    <div class="row p-0 mx-4 mt-5">
      <div class="col-12 usuario-title">
        <span><b>Responsáveis por acompanhar a prestação de serviços</b></span>
      </div>
    </div>
    <div class="bloco-usuarios">
      {% for responsavel in responsaveis %}
      <div class="row p-0 mx-4 mt-2 usuarios">
        <div class="usuario-label mr-2">
          <span><b>Nome: {{responsavel.nome}}</b></span>
        </div>
        <div class="usuario-values">
          <span><b>RF: {{responsavel.rf}}</b></span>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="mt-4"></div>
    <div class="row p-0 mx-4 mt-5">
      <div class="col-6 mr-3 titulo-assinatura">
        <b>ASSINATURA UNIDADE EDUCACIONAL</b>
      </div>
      <div class="col-5 titulo-assinatura">
        <b>RESPONSÁVEL PELA CONFERÊNCIA NA DRE</b>
      </div>
    </div>
    <div class="bloco-assinaturas">
      <div class="row p-0 mx-4 mt-3">
        <div class="col-6 mr-3 assinatura">
          {% if assinatura_escola %}
          <div class="row p-0 mx-1">
            <div class="col-2">
              <img src="{% static 'images/logo-sigpae.png' %}" alt="" />
            </div>
            <div class="col-10 texto">
              <span> {{assinatura_escola}} </span>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col-6 assinatura">
          {% if assinatura_dre %}
          <div class="row p-0 mx-1">
            <div class="col-2">
              <img src="{% static 'images/logo-sigpae.png' %}" alt="" />
            </div>
            <div class="col-10 texto">
              <span> {{assinatura_dre}} </span>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% for tabela in tabelas %}

    {% include "medicao/_header_medicao.html" with referencia=solicitacao.recreio_nas_ferias.titulo %}

    <table class="tabela-valores-medicao mt-3">
      <thead class="texto-branco">
        <tr>
          <th scope="col" rowspan="3">Dias</th>
          {% for periodo in tabela.periodos %}
          <th
            class="periodo-grupo cor-periodo-grupo-1"
            colspan="{{ tabela.len_periodos|get_element_by_index:forloop.counter0 }}"
            scope="col"
          >
            {{ periodo|upper }}
          </th>
          {% endfor %}
        </tr>
        <tr>
          {% for categoria in tabela.categorias %}
          <th
            class="categoria {% if categoria == 'ALIMENTAÇÕES PARA ALUNOS PARTICIPANTES' %}cor-periodo-grupo-9{% elif categoria == 'ALIMENTAÇÕES para COLABORADORES' %}cor-periodo-grupo-4{% endif %}"
            colspan="{{ tabela.len_categorias|get_element_by_index:forloop.counter0 }}"
            scope="col"
          >
            {{ categoria|upper }}
          </th>
          {% endfor %}
        </tr>
        <tr>
          {% for campo in tabela.nomes_campos %}
          <th scope="col">{{ campo|get_nome_campo }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for valores in tabela.valores_campos %}
        <tr
          class="{% if tabela.dias_letivos|get_nao_eh_dia_letivo:forloop.counter0 %} nao-dia-letivo {% endif %}"
        >
          {% for valor in valores %}
          <td>{{ valor }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
    {% for tabela in tabela_observacoes|formatar_observacoes %}

    {% include "medicao/_header_medicao.html" with referencia=solicitacao.recreio_nas_ferias.titulo %}

    <h1 class="titulo-tabela-observacoes text-center mt-3 mb-3">
      OBSERVAÇÕES DIÁRIAS DOS LANÇAMENTOS
    </h1>
    <table class="tabela-valores-medicao mt-1">
      <thead class="head-tabela-observacoes">
        <tr class="texto-branco">
          <th class="tabela-observacoes-dia">DIA</th>
          <th class="tabela-observacoes-periodo">PERÍODO</th>
          <th class="tabela-observacoes-tipo">TIPO</th>
          <th class="tabela-observacoes-observacoes">OBSERVAÇÕES</th>
        </tr>
      </thead>
      <tbody class="body-tabela-observacoes">
        {% for row in tabela %}
        <tr>
          <td class="tabela-observacoes-dia">{{ row.0|safe_content }}</td>
          <td class="tabela-observacoes-periodo">{{ row.4|safe_content }}</td>
          <td class="tabela-observacoes-tipo">{{ row.2|safe_content }}</td>
          <td class="tabela-observacoes-observacoes text-left">
            {{ row.3|safe_content }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}

    {% include "medicao/_header_medicao.html" with referencia=solicitacao.recreio_nas_ferias.titulo %}

    <h1 class="titulo-tabela-somatorio text-center mt-4 mb-4">
      SOMATÓRIO DE ALIMENTAÇÕES E DIETAS OFERTADAS NO PERÍODO DE {{solicitacao.recreio_nas_ferias.data_inicio|date:"d/m/Y"}} ATÉ {{solicitacao.recreio_nas_ferias.data_fim|date:"d/m/Y"}}
    </h1>

    {% if tabela_somatorio_participantes.body %}
    <div class="tabelas-somatorio mb-2">
      <table>
        <thead class="head-tabelas-somatorio">
          <tr class="texto-branco">
            {% for col in tabela_somatorio_participantes.header %}
            <th class="col-{{ col|get_colspan }}">
              {{ col|get_nome_header }}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody class="body-tabelas-somatorio">
          {% for row in tabela_somatorio_participantes.body %}
          <tr>
            {% for col in tabela_somatorio_participantes.header %}
            <td class="col-{{ col|get_colspan }}">
              {{ row|get_element_by_index:forloop.counter0 }}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="info-abaixo-tabela mb-4">
      * A tabela acima representa a soma das alimentações lançadas para os alunos em {{solicitacao.recreio_nas_ferias.titulo}}
    </div>
    {% endif %}

    {% if tabela_somatorio_colaboradores.body %}
    <div class="tabelas-somatorio">
      <table>
        <thead class="head-tabelas-somatorio">
          <tr class="texto-branco">
            {% for col in tabela_somatorio_colaboradores.header %}
            <th class="col-{{ col|get_colspan }}">
              {{ col|get_nome_header }}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody class="body-tabelas-somatorio">
          {% for row in tabela_somatorio_colaboradores.body %}
          <tr>
            {% for col in tabela_somatorio_colaboradores.header %}
            <td class="col-{{ col|get_colspan }}">
              {{ row|get_element_by_index:forloop.counter0 }}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="info-abaixo-tabela mb-4">
      * A tabela acima representa a soma das alimentações lançadas para os alunos em {{solicitacao.recreio_nas_ferias.titulo}}
    </div>
    {% endif %}
    <div id="last-page-footer">
      <div class="row p-0 mx-4 mt-5">
        <div class="col-6 mr-3 titulo-assinatura">
          <b>ASSINATURA UNIDADE EDUCACIONAL</b>
        </div>
        <div class="col-5 titulo-assinatura">
          <b>RESPONSÁVEL PELA CONFERÊNCIA NA DRE</b>
        </div>
      </div>
      <div class="bloco-assinaturas mt-auto">
        <div class="row p-0 mx-4 mt-3">
          <div class="col-6 mr-3 assinatura">
            {% if assinatura_escola %}
            <div class="row p-0 mx-1">
              <div class="col-2">
                <img src="{% static 'images/logo-sigpae.png' %}" alt="" />
              </div>
              <div class="col-10 texto">
                <span> {{assinatura_escola}} </span>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="col-6 assinatura">
            {% if assinatura_dre %}
            <div class="row p-0 mx-1">
              <div class="col-2">
                <img src="{% static 'images/logo-sigpae.png' %}" alt="" />
              </div>
              <div class="col-10 texto">
                <span> {{assinatura_dre}} </span>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
