@import "variaveis";

@page {
  padding-top: 3.6cm !important;
  padding-bottom: 0.4cm !important;
}

.flex{
  display: flex;
}

.page-container {
  padding-right: 2em;
  padding-left: 2em;
  font-size: 14px;
  line-height: 16px;
  color: #42474A;
}

.page-container > div {
  break-inside: avoid;
}

.log-container {
  break-inside: avoid;
  page-break-inside: avoid; /* fallback */
}

.page-container .status-evento {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: bold !important;
  background: $cinza-claro;
  padding: 0.5em 1em;
  margin-bottom: 16px;
  width: auto;
  border-radius: 8px;
}

.page-container p {
  margin: 1.2em 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #C0C0C0;
  margin: 2em 0;
  padding: 0;
}

.imagem{
  text-align: center;
}

.arquivos-container {
  margin-left: 8px;
}

.ue-dre-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dre-content {
      margin-right: 16px;
      width: 240px;
    }
}

strong {
  font-weight: 700;
}
