{% load index %}

{% block cabecalho_solicitacao_partindo_escola %}
  <hr style="color: #EEEEEE; opacity: 0.3">
  <h5 style="text-align: center">Relatório SIGPAE - {{ solicitacao.DESCRICAO }}</h5>
  {% if solicitacao.tipo_solicitacao == 'ALUNO_NAO_MATRICULADO' %}
    <h5 style="text-align: center">Dieta Especial Destina-se à Aluno Não Matriculado na Rede Municipal de Ensino</h5>
  {% endif %}

  <div class="header-solicitacao">
    <div class="row my-2">
      <div class="col-4" style="padding: 1%; font-family: 'Roboto'; font-style: bold; font-weight: 700; background: #F3F3F3; border: 1px solid #E3E6F0; border-radius: 4px; text-align: center; color: #42474A;">
        <p style="font-size: 24px; margin: 0;"># {{ solicitacao.id_externo }}</p>
        <p style="font-size: 14px; margin: 0;">Nº DA SOLICITAÇÃO</p>
      </div>
      <div class="col-5">
        <p>Escola Solicitante:</p>
        <p><b>{{ escola.nome }}</b></p>
      </div>
      <div class="col-2">
        <p>EOL:</p>
        <p><b>{{ escola.codigo_eol }}</b></p>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-3">
        <p>DRE:</p>
        <p><b>{{ escola.diretoria_regional.nome }}</b></p>
      </div>
      <div class="col-3">
        <p>Lote:</p>
        <p><b>{{ escola.lote.nome }}</b></p>
      </div>
      <div class="col-3">
        <p>Tipo de Gestão:</p>
        <p><b>{{ escola.tipo_gestao.nome }}</b></p>
      </div>
      <div class="col-3">
        <p>Empresa:</p>
        <p><b>{{ solicitacao.rastro_terceirizada.nome_fantasia }}</b></p>
      </div>
    </div>
  </div>
  {% if solicitacao.tipo_solicitacao != 'COMUM'%}
  <div class="row id-pedido">
    {% if solicitacao.tipo_solicitacao == 'ALTERACAO_UE'%}
      <div class="info w-50" style="padding-left: 0">
        <div>Dieta Especial de Origem</div>
          <div>{{ escola_origem.nome }}</div>
      </div>
    {%endif%}
  </div>
  {% endif%}
   <hr style="color: #EEEEEE; opacity: 0.3">
{% endblock %}
