{% include 'relatorio_base.html' %}
{% load index %}
{% load static %}
{% load sass_tags %}

<html>
<head>
  <link rel="stylesheet" href="{% sass_src 'css/cabecalho.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/override_relatorio.scss' %}" type="text/css">
  <link rel="stylesheet" href="{% sass_src 'css/relatorio_reclamacao.scss' %}" type="text/css">
  {% block css %}{% endblock %}
</head>
<body>
<header class="header">
  <figure class="logo-titulo">
    <img src="{% static 'images/LOGO_PB_POSITIVO.png' %}" alt=""/>
    <h1>SIGPAE - RELATÓRIO DE ACOMPANHAMENTO DE RECLAMAÇÃO DE PRODUTOS</h1>
  </figure>
  <section class="cabecario-reclamacao">
    <article class="info-line">
      <div>
        Total de Reclamações de Produtos: <b>{{ cabecalho.numero_reclamacoes }}</b> 
      </div>
      {% if cabecalho.data%}
        <div>
          Período: <b>{{ cabecalho.periodo }}</b> 
        </div>
      {% endif %}
      <div>
        Data de extração do relatório: <b>{{ cabecalho.data_extracao }}</b> 
      </div>
    </article>
    <article>
      Para os editais: <b>{{ cabecalho.editais }}</b>
    </article>
    {% if cabecalho.lotes%}
      <article>
        DREs - Lotes filtradas: <b>{{ cabecalho.lotes }}</b>
      </article>
    {% endif %}
  </section>

</header>
<p style="page-break-before: avoid;"></p>
{% block conteudo %}
{% endblock %}
</body>
</html>
