{% extends 'cabecalho_rodape_historico_correcoes_medicao.html' %}
{% load index %}
{% load static %}
{% load sass_tags %}
{% load safe_html_tags %}

{% block conteudo %}

  <style>
    span > p {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .conteudo.tabela-sem-borda {
      font-family: Arial, sans-serif;
    }

    .log-item {
      margin-bottom: 20px;
      border-bottom: 1px solid #9e9c9c;
    }

    .secao-log > h4 {
      background-color: #DDDDDD;
      border-radius: 8px;
      padding: 8px 8px;
    }

    .secao-log > div {
      font-size: 14px;
      margin-bottom: 15px;
    }

    .secao-log > p {
      font-size: 13px !important;
    }

    .secao-log > ul > li {
      font-size: 13px !important;
    }

    .highlight {
      color: #42474A;
      font-size: 14px;
      font-weight: 600;
    }

    /* Estilo da tabela */
    .secao-log table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }

    .secao-log table th {
      background-color: #DDDDDD;
      padding: 10px;
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      border: 1px solid #ddd;
    }

    .secao-log table td {
      padding: 10px;
      font-size: 13px;
      border: 1px solid #ddd;
      vertical-align: top;
    }

    .secao-log table th:nth-child(1),
    .secao-log table td:nth-child(1) {
      width: 30%;
    }

    .secao-log table th:nth-child(2),
    .secao-log table td:nth-child(2) {
      width: 20%;
    }

    .secao-log table th:nth-child(3),
    .secao-log table td:nth-child(3) {
      width: 50%;
    }

  </style>

  <div class="conteudo tabela-sem-borda">
    {% for log in logs %}
      <div class="log-item">
         {% if log.titulo == "RECEBIDO PARA ANÁLISE" %}
            <div class="secao-log">
              <h4>{{ log.titulo }}</h4>
              <div>Data: <span class="highlight">{{ log.data|date:"d/m/Y - H:i" }}</span></div>
              <div>Unidade Educacional: <span class="highlight">{{ log.unidade }}</span></div>
              <div>DRE: <span class="highlight">{{ log.dre }}</span></div>
              <div>RF: <span class="highlight">{{ log.rf }} - {{ log.nome }}</span></div>
            </div>
          {% elif log.titulo == "DEVOLVIDO PARA AJUSTES PELA DRE" %}
            <div class="secao-log">
              <h4>{{ log.titulo }}</h4>
              <div>Data: <span class="highlight">{{ log.data|date:"d/m/Y - H:i" }}</span></div>
              <div>RF: <span class="highlight">{{ log.rf }} - {{ log.nome }}</span></div>
              <div>Mês de lançamento: <span class="highlight">{{ log.mes_lancamento }}</span></div>
              {% if log.alteracoes%}
                <div><span class="highlight">Correções Solicitadas</span></div>
                <table>
                  <thead>
                    <tr>
                      <th>PERÍODO</th>
                      <th>TABELA DE LANÇAMENTO</th>
                      <th>CORREÇÕES</th>
                      <th>OBSERVAÇÃO</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for alteracao in log.alteracoes %}
                      <tr>
                        <td>{{ alteracao.periodo_escolar }}</td>
                        <td colSpan=2>
                          {% for lancamento in alteracao.tabelas_lancamentos %}
                            <div>
                              <span>{{ lancamento.categoria_medicao }}</span>
                            </div>
                            <div>
                              {%for semana in lancamento.semanas%} 
                                Semana: {{ semana.semana }}</br>
                                Dias: {{ semana.dias |join:", " }}
                              {%endfor%}
                            </div>
                          {% endfor %}
                        </td>
                        <td>{{ alteracao.justificativa | safe }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>
          {% elif log.titulo == "CORRIGIDO PARA DRE" %}
            <div class="secao-log">
              <h4>{{ log.titulo }}</h4>
              <div>Data: <span class="highlight">{{ log.data|date:"d/m/Y - H:i" }}</span></div>
              <div>RF: <span class="highlight">{{ log.rf }} - {{ log.nome }}</span></div>
              <div>Mês de lançamento: <span class="highlight">{{ log.mes_lancamento }}</span></div>
              {% if log.alteracoes%}
                <div><span class="highlight">Correções Realizadas pela UE</span></div>
                  {% for alteracao in log.alteracoes %}
                    {% for lancamento in alteracao.tabelas_lancamentos %}
                      <div><span class="highlight">Período {{  alteracao.periodo_escolar }} - Tabela {{ lancamento.categoria_medicao}}</span></div>
                      <ul>
                        {%for semana in lancamento.semanas%}
                            {% for dia in semana.dias%}
                             <li> SEMANA {{ semana.semana }} - DIAS {{ dia.dia}} </li>
                             <ul>
                                {%for campo in dia.campos%}
                                  <li>{{ campo.campo_nome }}</li>
                                  <ul>
                                    <li>
                                      <b>DE:</b> {{ campo.de }}
                                    </li>
                                    <li >
                                      <b>PARA:</b> {{ campo.para }}
                                    </li>
                                  </ul>
                                {% endfor%}
                             </ul>
                            {%endfor%}
                        {%endfor%}
                      </ul>
                    {%endfor%}
                  {%endfor%}
              {% endif%}
            </div>


         {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
