{% extends 'cabecalho_relatorio_reclamacao.html' %}
{% load index %}
{% load static %}

{% block conteudo %}

<section class="corpo-relatorio-produto-reclamacao">
  <div class="sessao-detalhes-reclamacao">
    <div class="item-reclamacao">
      <div class="item-prod edital">Edital</div>
      <div class="item-prod nome-produto">Nome do Produto</div>
      <div class="item-prod outros">Marca</div>
      <div class="item-prod outros">Fabricante</div>
      <div class="item-prod reclamacoes">Reclamações</div>
      <div class="item-prod status">Status do produto</div>
    </div>
    {% for produto in produtos %}
      <div class="item-reclamacao-detalhe">
        <div class="item-prod-detalhe edital">{{ produto.ultima_homologacao.editais_reclamacoes|join:", " }}</div>
        <div class="item-prod-detalhe nome-produto">{{produto.nome }}</div>
        <div class="item-prod-detalhe outros">{{ produto.marca.nome}}</div>
        <div class="item-prod-detalhe outros">{{produto.fabricante.nome }}</div>
        <div class="item-prod-detalhe reclamacoes">{{ produto.ultima_homologacao.reclamacoes|length}}</div>
        <div class="item-prod-detalhe status">{{ produto.ultima_homologacao.status_titulo }}</div>
      </div>
      {% for reclamacao in produto.ultima_homologacao.reclamacoes%}
        <div class="visao-geral-produto {% if forloop.counter0|divisibleby:2 %}bg-gray{% else %}bg-white{% endif %}">
          <div class="duas-informacoes-separadas">
            <div class="informacao">
              <label class="indicador-reclamacao">Reclamação #{{reclamacao.id_externo}} </label>
            </div>
            <div class="informacao-dois">
              <p>Status Reclamação: <label>{{reclamacao.status_titulo}}</label></p>
            </div>
          </div>
          <div class="duas-informacoes-separadas">
            <div class="informacao">
              <p> DRE/LOTE: <label>{{ reclamacao.escola.diretoria_regional.iniciais }} - {{ reclamacao.escola.lote.nome }}</label></p> 
            </div>
            <div class="informacao-dois">
              <p> Empresa: <label>{{ reclamacao.escola.lote.terceirizada.nome_fantasia }} </label></p>
            </div>
          </div>
          <div class="duas-informacoes-separadas">
            <div class="informacao">
               <p> RF e Nome do Reclamante: <label>{{ reclamacao.reclamante_registro_funcional }} - {{ reclamacao.reclamante_nome }} </label> </p> 
            </div>
            <div class="informacao-dois">
             <p> Cód EOL e Nome da Esola: <label>{{ reclamacao.escola.codigo_eol }} - {{ reclamacao.escola.nome }} </label></p>
            </div>
          </div>
          <div class="duas-informacoes-separadas">
            <div class="informacao">
               <p> Data da reclamação: <label>{{ reclamacao.criado_em|formata_data }}<label></p>
            </div>
            <div class="informacao-dois">
             <p> Justificativa da reclamação: <label>{{ reclamacao.reclamacao|striptags|safe }} </label></p>
            </div>
          </div>
          {% for log in reclamacao.logs %} 
          <div class="duas-informacoes-separadas">
            <div class="informacao">
               <p> {{log.status_evento_explicacao|obter_rotulo_data_log}}:  <label>{{log.criado_em|formata_data}}</label></p>
            </div>
            <div class="informacao-dois">
             <p> {{log.status_evento_explicacao|obter_titulo_log_reclamacao}}: <label>{{log.justificativa|striptags|safe}}</label></p>
            </div>
          </div>
          {% endfor%}
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</section>
{% endblock %}

