{% for campo, mudanca in alteracoes.items %}
  {% if campo != 'Substituições de Alimentos' %}
    <p>Campo: <b>{{ campo|title }}</b></p>
    <ul>
      <li>De: <b>{{ mudanca.de }}</b></li>
      <li>Para: <b>{{ mudanca.para }}</b></li>
    </ul>
  {% else %}
    <p>Campo: <b>{{ campo|title }}</b></p>

    {% if mudanca.excluidos %}
      <table style="width:100%; border-collapse: collapse; border: 1px solid #ccc; margin-bottom: 20px;">
        <thead style="background-color: #e0e0e0;">
          <tr>
            <th colspan="3" style="border: 1px solid #ccc; padding: 8px; text-align: left;">ITEM EXCLUÍDO</th>
          </tr>
        </thead>
        <tbody>
          {% for info in mudanca.excluidos %}
            <tr>
              <td style="border: 1px solid #ccc; padding: 8px; width: 33%">{{ info.dados.alimento }}</td>
              <td style="border: 1px solid #ccc; padding: 8px; width: 33%">{{ info.dados.tipo }}</td>
              <td style="border: 1px solid #ccc; padding: 8px; width: 33%">{{ info.dados.substitutos }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    {% if mudanca.incluidos %}
      <table style="width:100%; border-collapse: collapse; border: 1px solid #ccc; margin-bottom: 20px;">
        <thead style="background-color: #e0e0e0;">
          <tr>
            <th colspan="3" style="border: 1px solid #ccc; padding: 8px; text-align: left;">ITEM INCLUIDO</th>
          </tr>
        </thead>
        <tbody>
          {% for info in mudanca.incluidos %}
            <tr>
              <td style="border: 1px solid #ccc; padding: 8px; width: 33%">{{ info.dados.alimento }}</td>
              <td style="border: 1px solid #ccc; padding: 8px; width: 33%">{{ info.dados.tipo }}</td>
              <td style="border: 1px solid #ccc; padding: 8px; width: 33%">{{ info.dados.substitutos }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    {% if mudanca.alterados %}
      <table style="width:100%; border-collapse: collapse; border: 1px solid #ccc; margin-bottom: 20px;">
        {% for info in mudanca.alterados %}
          <thead style="background-color: #e0e0e0;">
            <tr>
              <th colspan="3" style="border: 1px solid #ccc; padding: 8px; text-align: left;">ITEM ALTERADO DE</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td style="border: 1px solid #ccc; padding: 8px; width: 33%">{{ info.dados.de.alimento }}</td>
                <td style="border: 1px solid #ccc; padding: 8px; width: 33%">{{ info.dados.de.tipo }}</td>
                <td style="border: 1px solid #ccc; padding: 8px; width: 33%">{{ info.dados.de.substitutos }}</td>
              </tr>
          </tbody>
          <thead style="background-color: #e0e0e0;">
            <tr>
              <th colspan="3" style="border: 1px solid #ccc; padding: 8px; text-align: left;">ITEM ALTERADO PARA</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td style="border: 1px solid #ccc; padding: 8px; width: 33%">{{ info.dados.para.alimento }}</td>
                <td style="border: 1px solid #ccc; padding: 8px; width: 33%">{{ info.dados.para.tipo }}</td>
                <td style="border: 1px solid #ccc; padding: 8px; width: 33%">{{ info.dados.para.substitutos }}</td>
              </tr>
          </tbody>
        {% endfor %}
      </table>
    {% endif %}

  {% endif %}
{% endfor %}
