<!DOCTYPE html>
{% include 'relatorio_base.html' %}
{% load static %}
{% load index %}
{% load sass_tags %}
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>SIGPAE</title>
  {%block styles %} {%endblock %}
</head>
<body>
  <header class="header" style="page-break-before: always;">
		<section class="titulo-e-logo flex-between">
      <img src="{{ logo_sme }}" alt="SP" />
			<h1 class="titulo">Sistema de Gestão do Programa de Alimentação Escolar</h1>
    </section>
    <div class="info mt-2 border border-dark">
			<span>{{ titulo_cabecalho }}</span>
		</div>
	</header>

  {% block conteudo %} {% endblock %}
</body>
</html>
