{% extends "admin/change_list.html" %}
{% load i18n static %}

{% block object-tools-items %}
<ul style="margin: 0; padding: 0; display: contents; gap: 5px;">
  <li>
      <a
          href="exportar_planilha_importacao_usuarios_ue_parceira_coresso"
          style="background: #79AEC8; font-weight: bold"
          onMouseOver="this.style.background='#417690'"
          onMouseOut="this.style.background='#79AEC8'"
          onFocus="this.style.background='#417690'"
      >
          Download modelo
      </a>
  </li>
</ul>
{{ block.super }}
{% endblock %}
